button.btn.btn-default{
  width: 100%;
}

button.btn.btn-default.startbtn {
  background-color: #ECDFBD !important;
}

img{
  height: 100px;
}

#approve{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#myApproval .modal-body{
  height: 130px;
}

.larger-font {
  font-size: 25px;
  font-weight: bold;
  color: #ECDFBD;
}

#clickTotalDisplay {
  color: #FB6648;
}

#timer {
  color: #FB6648;
}

body {
  background-color: #5E3448;
}

.page-header h1 {
  color: #FB6648;
}

small {
  color: #FB6648;
}